
<!-- MATERIALIZE CSS CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> 
<!-- MATERIAL ICONS CDN -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

<link rel="stylesheet" type="text/css" href="../../../assets/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
================================================== -->
<link rel="stylesheet" type="text/css"  href="../../../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="../../../assets/css/responsive.css">

<!-- Google Fonts
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>


<div class="container">
    <br>
    <br>
   
    <h3>TABLA PUBLICACION DE LEY</h3>
    <br>
    <div class="row">
      <div class="col s5">
        <div class="card">
          <div class="card-content">
            <form #publicacionleyForm="ngForm" (ngSubmit)="addPublicacionley(publicacionleyForm)"> 
              <input type="hidden" name="_id" #_id="ngModel" 
              [(ngModel)]="publicacionleyService.selectedPublicacionley._id">
              <div class="row">
                <div class="input-field col-s12">
                  <input type="text" name="titulo" #name="ngModel" 
                  [(ngModel)]="publicacionleyService.selectedPublicacionley.titulo" placeholder="Titulo">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="descripcion" #name="ngModel" 
                  [(ngModel)]="publicacionleyService.selectedPublicacionley.descripcion" placeholder="descripcion">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="fechaPublicacion" #name="ngModel" 
                  [(ngModel)]="publicacionleyService.selectedPublicacionley.fechaPublicacion" placeholder=" fecha_de publicacion">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="likesTotal" #name="ngModel" 
                  [(ngModel)]="publicacionleyService.selectedPublicacionley.likesTotal" placeholder="likes totales ">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="idley" #name="ngModel" 
                  [(ngModel)]="publicacionleyService.selectedPublicacionley.idley" placeholder=" numero de ley ">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="idarticulo" #name="ngModel" 
                  [(ngModel)]="publicacionleyService.selectedPublicacionley.idarticulo" placeholder="id_articulo">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="dislikesTotales" #name="ngModel" 
                  [(ngModel)]="publicacionleyService.selectedPublicacionley.dislikesTotales" placeholder="dislikes_totales">
                </div>
             
                <div class="card-action">
                  <div class="input-field col-s12">
                    <button class="btn right  purple darken-4" (click)="resetForm(publicacionleyForm)">Limpiar</button>
                    <button class="btn ">Guardar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s7">
        <table class="striped highlight black-text">
          <thead>
            <th>titulo</th>
            <th>descripción</th>
            <th>fechapublicacion</th>
            <th>likesTotal</th>
            <th>idley</th>
            <th>idarticulo</th>
            <th>dislikesTotales</th>


       
          </thead>
          <tbody>
            <tr *ngFor="let publicacionley of publicacionleyService.publicacionleys">
              <td>{{ publicacionley.titulo }}</td>
              <td>{{ publicacionley.descripcion }}</td>
              <td>{{ publicacionley.fechapublicacion }}</td>
              <td>{{ publicacionley.likesTotal }}</td>
              <td>{{ publicacionley.idley }}</td>
              <td>{{ publicacionley.idarticulo }}</td>
              <td>{{ publicacionley.dislikesTotales }}</td>
          
              <td>
                <!-- <a (click)="editPublicacionley(publicacionley)"> -->
                  <a (click)="editPublicacionley(publicacionley)">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deletePublicacionley(publicacionley._id, publicacionleyForm)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>