
<!-- MATERIALIZE CSS CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> 
<!-- MATERIAL ICONS CDN -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 

<link rel="stylesheet" type="text/css" href="../../../assets/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
================================================== -->
<link rel="stylesheet" type="text/css"  href="../../../assets/css/style.css">
<link rel="stylesheet" type="text/css" href="../../../assets/css/responsive.css">

<!-- Google Fonts
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

<div class="container">
    <br>
    <br>
   
    <h3>TABLA INTERACCION</h3>
    <br>
    <div class="row">
      <div class="col s5">
        <div class="card">
          <div class="card-content">
            <form #interaccionForm="ngForm" (ngSubmit)="addInteraccion(interaccionForm)"> 
              <input type="hidden" name="_id" #_id="ngModel" 
              [(ngModel)]="interaccionService.selectedInteraccion._id">
              <div class="row">
                <div class="input-field col-s12">
                      <input type="text" name="idciudadano" #name="ngModel" 
                      [(ngModel)]="interaccionService.selectedInteraccion.idciudadano" placeholder="idciudadano">
                </div>
                <div class="input-field col-s12">
                        <input type="text" name="idarticulo" #name="ngModel" 
                        [(ngModel)]="interaccionService.selectedInteraccion.idarticulo" placeholder="idarticulo">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="idcomentario" #name="ngModel" 
                  [(ngModel)]="interaccionService.selectedInteraccion.idcomentario" placeholder="idcomentario">
                </div>
               
                <div class="input-field col-s12">
                  <input type="text" name="likes" #name="ngModel" 
                  [(ngModel)]="interaccionService.selectedInteraccion.likes" placeholder="likes">
                </div>

                <div class="input-field col-s12">
                  <input type="text" name="dislikes" #name="ngModel" 
                  [(ngModel)]="interaccionService.selectedInteraccion.dislikes" placeholder="likes">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="comentariostotales" #name="ngModel" 
                  [(ngModel)]="interaccionService.selectedInteraccion.comentariostotales" placeholder="comentarios Totales">
                </div>
                <div class="input-field col-s12">
                  <input type="text" name="compartidastotales" #name="ngModel" 
                  [(ngModel)]="interaccionService.selectedInteraccion.compartidastotales" placeholder="COmpartidas Totales">
                </div>
                <div class="card-action">
                  <div class="input-field col-s12">
                    <button class="btn right  purple darken-4" (click)="resetForm(interaccionForm)">Limpiar</button>
                    <button class="btn ">Guardar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s7">
        <table class="striped highlight black-text">
          <thead>
            <th>idciudadano</th>
            <th>idarticulo</th>
            <th>idcomentario</th>
            <th>likes</th>
            <th>dislikes</th>
            <th>comentariosTotales</th>
            <th>compartidasTotales</th>
          </thead>
          <tbody>
            <tr *ngFor="let interaccion of interaccionService.interaccions">
              <td>{{ interaccion.idciudadano }}</td>
              <td>{{ interaccion.idarticulo }}</td>
              <td>{{ interaccion.idcomentario }}</td>
              <td>{{ interaccion.likes }}</td>
              <td>{{ interaccion.dislikes }}</td>
              <td>{{ interaccion.comentariostotales }}</td>
              <td>{{ interaccion.compartidastotales }}</td>
              <td>
                <!-- <a (click)="editInteraccion(interaccion)"> -->
                  <a (click)="editInteraccion(interaccion)">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deleteInteraccion(interaccion._id, interaccionForm)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
