<div class="container">
    <br>
    <br>
   
    <h3>TABLA PERIODO</h3>
    <br>
    <div class="row">
      <div class="col s5">
        <div class="card">
          <div class="card-content">
            <form #periodoForm="ngForm" (ngSubmit)="addPeriodo(periodoForm)"> 
              <input type="hidden" name="_id" #_id="ngModel" 
              [(ngModel)]="periodoService.selectedPeriodo._id">
              <div class="row">
                <div class="input-field col-s12">
                  <input type="text" name="periodo" #name="ngModel" 
                  [(ngModel)]="periodoService.selectedPeriodo.periodo" placeholder="Periodo">
                </div>
                <div class="card-action">
                  <div class="input-field col-s12">
                    <button class="btn right  purple darken-4" (click)="resetForm(periodoForm)">Limpiar</button>
                    <button class="btn ">Guardar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s7">
        <table class="striped highlight black-text">
          <thead>
            <th>periodo</th>
          </thead>
          <tbody>
            <tr *ngFor="let periodo of periodoService.periodos">
              <td>{{ periodo.periodo }}</td>
              <td>
                  <a (click)="editPeriodo(periodo)">
                  <i class="material-icons">edit</i>
                </a>
                <a (click)="deletePeriodo(periodo._id, periodoForm)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>