<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #rolForm="ngForm" (ngSubmit)="addRol(rolForm)">
            <input type="hidden" name="_id" #_id="ngModel" 
            [(ngModel)]="rolService.selectedRol._id">
            <div class="row">
              <div class="input-field col-s12">
                    <input type="text" name="idpersona" #name="ngModel" 
                    [(ngModel)]="rolService.selectedRol.idpersona" placeholder="idpersona">
                </div>
              <div class="input-field col-s12">
                <input type="text" name="descripcionrol" #name="ngModel" 
                [(ngModel)]="rolService.selectedRol.descripcionrol" placeholder="Descripcion de rol">
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right  purple darken-4" (click)="resetForm(rolForm)">Limpiar</button>
                  <button class="btn ">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
          <th>idpersona</th>
          <th>descripcionrol</th>
        </thead>
        <tbody>
          <tr *ngFor="let rol of rolService.rols">
            <td>{{ rol.idpersona }}</td>
            <td>{{ rol.descripcionrol }}</td>
            <td>
              <a (click)="editRol(rol)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteRol(rol._id, rolForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
