<!DOCTYPE html>
<html lang="en">
<head>
  <title>Leer Ley</title>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Basic Page Needs
    ================================================== -->    
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="../../../assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/fonts/font-awesome/css/font-awesome.css">
    
     
    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="../../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/responsive.css">

    <!-- Google Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="../../../assets/js/modernizr.custom.js"></script> 
  </head>
  <body>

<div>
  
  <!-- Main Navigation 
    ================================================== -->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../../../assets/img/logo1.jpg" alt="" width="100px" height="100%"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="" class="scroll" routerLink="/admin/inicio">Inicio</a></li>
              <li><a href="" class="scroll active" routerLink="/admin/leyes">Leyes</a></li>
              <li><a href="" class="scroll" routerLink="/admin/acercaDe">Acerca De</a></li>
              <li><a href="" class="scroll" routerLink="/contactanos">Contactanos</a></li>
              <li><a href="" class="scroll" routerLink="/admin/login">Iniciar Sesion</a></li>

            </ul>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
  <!-- END nav -->
  <!-- <img src="../../../assets/img/barra.png" alt="" width="100%"> -->
</div>

<!-- Page Header
    ================================================== -->    
    <div id="tf-header">
      <div class="container">
          <h1>Leyes / Proyecto de Leyes</h1>
      </div>
  </div>
  <br><br><br>   

<!-- Formulario Header
    ================================================== -->
  <form>
      <div class="form-group col-md-6">
        <label for="inputCity">Ley/Proyecto </label>
        <input type="text" class="form-control" id="inputCity" name="nombreLey" 
        #name="ngModel" [(ngModel)]="nombreLeyFilter" placeholder="Nombre Ley/Proyecto">
      </div>
      <div class="form-group col-md-2">        
            <label for="inputZip">Estado del Tramite</label>            
            <select class="form-control" (change)="selectOption($event.target.value)"
            [(ngModel)]="selectedStatus">            
            <option [value]="leyEstado.id" *ngFor="let leyEstado of leyEstados">
            {{leyEstado.name}}</option>
            </select>           
      </div>
      <div class="form-group col-md-2">        
        <label for="inputZip">Período Legislativo</label>
        <select id="inputPeriodo" 
        name="inputPeriodo" class="form-control" #name="ngModel" [(ngModel)]="periodoFilter"
        (change)="putSelectedPeriodo($event.target.value)"
        > <option>Todos</option>
          <option>2009-2013</option>
          <option>2013-2017</option>
          <option>2017-2021</option>             
        </select>        
     </div>
      <div class="form-group col-md-2">
        <br>
        <button type="button" class="btn btn-primary" (click)="buscar()" style="margin: 5px">Buscar</button>      
      </div>
      
<div class="form-row">
    <div class="form-group col-md-12">
     <br><br><br>
     <label for="inputSeleccionProy">Seleccione la Ley/Proyecto y acceda a la información </label>       
    </div>
</div>
<div class="container">
    <app-ley-item
          *ngFor="let ley of leyes"
          [ley] = "ley"
        >
        </app-ley-item>
</div>
</form>

<div class="form-group">
  <div class="col-md-5">

  </div>

  <div class="col-md-3">

  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../../../assets/js/jquery.1.11.1.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript" src="../../../assets/js/bootstrap.js"></script>

  <script type="text/javascript" src="../../../assets/js/owl.carousel.js"></script><!-- Owl Carousel Plugin -->

  <script type="text/javascript" src="../../../assets/js/SmoothScroll.js"></script>

  <!-- Javascripts
  ================================================== -->
  <script type="text/javascript" src="../../../assets/js/main.js"></script>
</body>
</html>