<div class="container">
    <br>
    <br>
   
    <h3>TABLA CIUDADANO</h3>
    <br>
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #ciudadanoForm="ngForm" (ngSubmit)="addCiudadano(ciudadanoForm)">
            <input type="hidden" name="_id" #_id="ngModel" 
            [(ngModel)]="ciudadanoService.selectedCiudadano._id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="nombre" #name="ngModel" 
                [(ngModel)]="ciudadanoService.selectedCiudadano.nombre" placeholder="Nombre">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="apellido" #name="ngModel" 
                [(ngModel)]="ciudadanoService.selectedCiudadano.apellido" placeholder="apellido">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="cedula" #name="ngModel" 
                [(ngModel)]="ciudadanoService.selectedCiudadano.cedula" placeholder="cedula">
              </div>
              <div class="input-field col-s12">
                <input type="text" name="contrasena" #name="ngModel" 
                [(ngModel)]="ciudadanoService.selectedCiudadano.contrasena" placeholder="contrasena">
              </div>
		<div class="input-field col-s12">
                <input type="text" name="cuentatwitter" #name="ngModel" 
                [(ngModel)]="ciudadanoService.selectedCiudadano.cuentatwitter" placeholder="cuentaTwitter">
              </div>
		<div class="input-field col-s12">
                <input type="text" name="cuentafacebook" #name="ngModel" 
                [(ngModel)]="ciudadanoService.selectedCiudadano.cuentafacebook" placeholder="cuentafacebbok">
              </div>
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right  purple darken-4" (click)="resetForm(ciudadanoForm)">Limpiar</button>
                  <button class="btn ">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
          <th>nombre</th>
          <th>apellido</th>
          <th>cedula</th>
          <th>contrasena</th>
          <th>cuentatwitter</th>
          <th>cuentafacebook</th>
        </thead>
        <tbody>
          <tr *ngFor="let ciudadano of ciudadanoService.ciudadanos">
            <td>{{ ciudadano.nombre }}</td>
            <td>{{ ciudadano.apellido }}</td>
            <td>{{ ciudadano.cedula }}</td>
            <td>{{ ciudadano.contrasena }}</td>
            <td>{{ ciudadano.cuentatwitter }}</td>
            <td>{{ ciudadano.cuentafacebook }}</td>
            <td>
              <a (click)="editCiudadano(ciudadano)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteCiudadano(ciudadano._id, ciudadanoForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
