<div class="container">
    <br>
    <br>
   
    <h3>TABLA ARTICULO</h3>
    <br>
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #articuloForm="ngForm" (ngSubmit)="addArticulo(articuloForm)">
            <input type="hidden" name="_id" #_id="ngModel" 
            [(ngModel)]="articuloService.selectedArticulo._id">
            <div class="row">
              <div class="input-field col-s12">
                <input type="text" name="name" #name="ngModel" 
                [(ngModel)]="articuloService.selectedArticulo.name" placeholder="Nombre">
              </div>


              <div class="input-field col-s12">
                <input type="text" name="detalle" #name="ngModel" 
                [(ngModel)]="articuloService.selectedArticulo.detalle" placeholder="detalle">
              </div>


              <div class="input-field col-s12">
                <input type="text" name="resumen" #name="ngModel" 
                [(ngModel)]="articuloService.selectedArticulo.resumen" placeholder="resumen">
              </div>

              <div class="input-field col-s12">
                <input type="text" name="exp_articulo" #name="ngModel" 
                [(ngModel)]="articuloService.selectedArticulo.exp_articulo" placeholder="descripcion_del_articulo">
              </div>

	
              <div class="card-action">
                <div class="input-field col-s12">
                  <button class="btn right  purple darken-4" (click)="resetForm(articuloForm)">Limpiar</button>
                  <button class="btn ">Guardar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table class="striped highlight black-text">
        <thead>
          <th>Nombre</th>
          <th>detalle</th>
          <th>resumen</th>
          <th>descripcion_del_articulo</th>

        
        </thead>
        <tbody>
          <tr *ngFor="let articulo of articuloService.articulos">
            <td>{{ articulo.name }}</td>
            <td>{{ articulo.detalle }}</td>
            <td>{{ articulo.resumen }}</td>
            <td>{{ articulo.exp_articulo }}</td>

            <td>
              <a (click)="editArticulo(articulo)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteArticulo(articulo._id, articuloForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
