<div class="container">
    <br>
    <br>  
    
    <div class="row">
      <form #leyForm="ngForm"> 
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>descripcion</th>
            </tr>
          </thead>
          <tr>            
            <td> <a [routerLink]="['/admin/leerLey',ley._id]">{{ley.nombre}}</a></td>
            <td> {{ley.descripcion}}</td>
          </tr>
        </table>
      </div> 
      </form>    
    </div>
</div>